# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# Environment variables & API keys (Keep private)
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
